.notification {
    position: fixed;
    bottom: calc(env(safe-area-inset-bottom) + 10px);
    right: 5px;
    float: right;
    padding: 12px 6px;
    border-radius: 5px;
}

.notification > a {
    color: white;
    background-color: darkred;
    border: 1px solid white;
    text-decoration: underline;
    cursor: pointer;
    padding: 5px 8px;
    border-radius: 6px;
}